.navbar {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  padding: 0px 100px;
}

.navbar .logo {
  width: 140px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 25px;
  font-size: 17px;
  color: #333;
}

.navbar-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-menu a:hover,
.navbar-menu .active {
  color: #1a237e;
  border-bottom: 2px solid #1a237e;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-right img {
  width: 24px;
  cursor: pointer;
}

.navbar-right .navbar-search-icon img {
  width: 40px;
}

.navbar button {
  background: #1a237e;
  font-size: 16px;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.navbar button:hover {
  background-color: #303f9f;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: #ff1744;
  border-radius: 50%;
  top: -5px;
  right: -5px;
}

.navbar-profile {
  position: relative;
}

.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 10;
  background: #ffffff;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 15px;
  color: #333;
  transition: color 0.3s ease;
}

.nav-profile-dropdown li:hover {
  color: #1a237e;
}

.nav-profile-dropdown img {
  width: 18px;
}

/* Responsive Design */
@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}
